* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

.project-name a {
  color: white;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

main :first-child {
  margin-top: 0; }
img {
  max-width: 100%; }
main h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
p {
  margin-bottom: 1em; }
code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.highlight {
  margin-bottom: 1rem; }
  .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.highlight pre, pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
pre code, pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  pre code:before, pre code:after, pre tt:before, pre tt:after {
    content: normal; }
ul, ol {
  margin-top: 0; }
blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  table th {
    font-weight: bold; }
  table th, table td {
    padding: 0.9rem 0.7rem;
    border: 1px solid #e9ebec; }
dl {
  padding: 0; }
  dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  dl dd {
    padding: 0;
    margin-bottom: 1rem; }
hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  #page-container {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  #page-container {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  #page-container {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

.site-footer-credits a {
  margin-right: 30px;
}

#conjugation-words-chart {
  display: flex;
}

table.words {
  float: left;
  margin-right: 20px;
}

table.words td {
  padding: 0;
}

table.words td a {
  padding: 0.9rem 0.7rem;
  display: block;
}

table.words td a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(21, 153, 87, 0.3);
}

table.words td a:active {
  color: #fff;
  text-decoration: none;
  background-color: rgba(10,74,42,0.8);
}

#conjugation-tables h3 {
  text-transform: capitalize;
}

#conjugation-tables td.conjugation-term .append-to {
  font-weight: 600;
}

td.conjugation-person {
  background-color: rgba(21, 153, 87, 0.3);
  width: 15%;
}

td.disabled {
  background-color: rgba(7, 6, 17, 0.3);
}

#quiz {
  padding: 30px;
  border: 2px solid #606c71;
}

p.english-sentence {
  margin: 20px 10px 30px;
}

.sentence-directions {
  font-size: 0.8rem;
  display: inline-block;
  margin-top: 5px;
}

.result-btns {
  margin-top: 25px;
}

.result-btn {
  padding: 10px;
  outline: none;
  color: white;
  border: none;
  transition: all 75ms ease-in-out;
}

.result-btn[disabled] {
  background-color: #d1cfcf;
  color: #969696;
}

.result-correct {
  margin-right: 10px;
  background-color: #50BD87;
}

.result-correct:enabled:active {
  background-color: #327755;
}

.result-wrong {
  background-color: #bd605e;
}

.result-wrong:enabled:active {
  background-color: #693534;
}

@media (max-width: 500px) {
  .result-wrong {
    float: right;
  }
}


/*From: http://jsfiddle.net/zwWHY/831/ */
.flip {
  -webkit-perspective: 800;
  perspective: 800;
  height: 110px;
  position: relative;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}
.flip .card {
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.flip .card .face {
  min-width: 400px;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px;

  background-color: #159957;
  background-image: -webkit-linear-gradient(330deg, #155799, #159957);
  background-image: linear-gradient(120deg, #155799, #159957);
  font-family: Georgia, serif;
  font-size: 1.8em;
  line-height: 1.2em;
  color: #fff;

  /*background-color: #fff;*/
  /*font-family: "Helvetica Neue", arial, sans-serif;*/
  /*color: #606c71;*/
  /*font-size: 1.5em;*/
  /*line-height: 1.5em;*/
  /*background-image: none;*/
  /*border: 3px solid #159957;*/
}

@media (max-width: 500px) {
  .flip .card .face {
    width: 100%;
    min-width: 0;
    padding: 0 15px;
    font-size: 1.5em;
  }
}

.flip .card .back {
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}

.flip .card .face small {
  font-size: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}


/* From: http://codepen.io/zeckdude/pen/qZQeYp */
.pulse-notification {
  position: relative;
  -webkit-animation: pulse-notification 1 1.25s cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse-notification 1 1.25s cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse-notification 1 1.25s cubic-bezier(0.66, 0, 0, 1);
  animation: pulse-notification 1 1.25s cubic-bezier(0.66, 0, 0, 1);
}

.pulse-notification-correct {
  box-shadow: 0 0 0 0 rgba(59, 232, 52, 0.7);
}

.pulse-notification-wrong {
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
}

@-webkit-keyframes pulse-notification {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse-notification {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse-notification {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@keyframes pulse-notification {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}

.pulse-notification:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}





@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
